#mainContent {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 25% auto auto;
}

#mainLogo {
  margin-top: 35px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: : 2;
}

#charts {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: : 3;
}
